
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: normal;
  height: 30px;
  list-style:none;
}
li{
  list-style:none;
}

.td_subtitulos {
  padding-left: 45px;
  width: 200px;
  color: black;
  font-weight: regular;
  text-transform: uppercase;
  font-size: 12.5px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
}
.td_foto {
margin-left: 270px;
margin-right: 360px;
border: solid;
border-color: black;
height: 180px;
width: 150px;
margin-bottom: 10px;
}
.tabla_datos{
padding-left: 2px;
font-weight: bold;
}
.td_foto2 {
  margin-left: 180px;
  margin-right: 360px;
  border: solid;
  border-color: black;
  height: 180px;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 15px;

  }

  .firma{
    margin-top: 0px;
    padding-top: 0px;
    float: right;
    padding-right: 60px;
    font-weight: bold;
    text-align: right;
  }
  .p{
    text-align: center;
  }
  table{
    margin:5px 0; 
    width:100%; 
  }
  table.subtable {
    margin: 0;
  }
  table.subtable td, th {
    border:none;
 }
  .td_titulos{
    padding-left: 45px;
    width: 200px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 25px;
  }
  body{
 font-size: 11px;
}
@page { 
  margin: 1%; 
}

* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: #727272;
}

table {
  border-collapse: collapse;
}
h3, h4, td  {
  font-weight: normal;
  font-size: 1.5rem;
}
td {
  font-size: 1rem;
}

.main-page {
  page-break-inside: avoid;
}

.main-page > div {
  padding-left: 0;
  padding-right: 0;
}

.product-name > h3 {
  font-size: 1.75rem;
}

.default-table {
  width: 100%;
  margin-bottom: 0;
  border-spacing: 2px;
  color: #212529;
}

.default-table tr {
  border-top: 1px solid rgba(100,100,100, .3);
}

.default-table th, .default-table td {
  padding: .3rem;
}


.codes-table th, .codes-table td {
  border: 1px solid #acabab;
}
.codes-table th {
  text-align: left;
  color: black;
  border-bottom-color: white;
  background-color: #D4D3D3;
}
footer {
  margin-bottom: 0;
  padding: 0;
}
.tabla-titulos {
  border-collapse: collapse;
  border: 1px solid #D4D3D3;
 /*  margin: .8rem 0; */
}
.tabla-titulos td {
  padding: .3rem;
}
.codes-table th:last-child {
  border-bottom-color: inherit;
}
.bottom-logo {
  height: 150px;
}

.align-kids-top > div {
  vertical-align: top;
}
td.fijo{
  height: 18px;
}
hr{
  color: #D4D3D3
}
.bg-danger {
  background-color: red;
}
span.texto-secundario {
  font-size: .9rem;
  color: #acababb2;
}